.repo-details-container {
    display: flex;
    border: 1px solid rgb(35, 34, 34);
    justify-content: space-between;
    margin: 10px;
    font-size: 24px;
}

.more-details-button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 10px;
}

.more-details-button:hover {
    background-color: white;
    border-color: blueviolet;
    transition: .3s ease;
}

.more-details-button>a:hover {
    color: black;
    background-color: white;
    border-color: blueviolet;
    transition: .3s ease;
}

.more-details-button>a {
    color: rgb(246, 225, 225);

}

.repo-owner-avtar {
    border-right: 1px solid rgb(106, 105, 105);
}

.repo-owner-avtar>img {
    width: 200px;
    height: 100%;
    flex: 2;
}

.repo-details-container>div:nth-child(2) {
    padding: 0 20px;
    flex: 2;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 50px;
}

.repo-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.repo-name>p {
    display: flex;
    justify-content: flex-start;
}

.repo-details-bold {
    font-weight: 800;
}

.repo-all-about {
    margin: 0 0 10px 0;
}

.repo-name>div:nth-child(1) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}